.container{
    background-image: url('https://i.pinimg.com/originals/78/31/6f/78316f558fffb95e96a120dcf3c430d3.gif');
    background-repeat: no-repeat;
    background-size: 50%; ;
    background-position: right;
  
}
.container2{
    background-image: url('https://i.pinimg.com/originals/78/31/6f/78316f558fffb95e96a120dcf3c430d3.gif');
    background-repeat: no-repeat;
    background-size: 50%; ;
  
}
    

.cardContainer{
    background: rgba(138, 224, 241, 0.58);
  
    color: rgb(35, 67, 56);
    display: flex;
    border: 2px solid black;
    border-radius:14px;
    margin-left: 22%;
    width:800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.cardImage{
    width: 250px;
    height: 200px;
    /* height:auto; */
    border-radius: 14px;
    margin: 8px;
}

.p{
    font-size: 18px;
    text-align: left;
    margin: 0 0 0 0px;
    color: rgba(40, 47, 57,1);
    background-color: rgb(138, 128, 239);
}

.id{
    font-size: 18px;
    background-color: rgb(138, 179, 239);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: rgba(40, 47, 57,1)
}
.id2{
    display: flex;
    border: 2px solid black;
    border-radius:14px;
    width:auto;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.id3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    color: rgb(1, 9, 21)
}
.titVideogame{
    /* background-color: rgb(146, 182, 46); */
    color: rgb(40, 47, 57,1);
    width: 100%;
    height: 98px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.subcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subcontainer2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.link{
    background-color: rgba(40, 47, 57,1);
    color: #fff;
    margin: 4px 30%;
    text-align: center;
    border: 1px solid white;
    border-radius:14px;
    padding: 5px;
    text-decoration: none;
    margin-bottom:7px
}
.link2{

    background-color: rgba(40, 47, 57,1);
    color: #fff;
    margin: 4px 30%;
    text-align: center;
    border: 1px solid white;
    border-radius:14px;
    padding: 5px;
    text-decoration: none;
    margin-bottom:7px
}

.link:hover{
    color: rgba(40, 47, 57,1);
    background-color: rgb(146, 182, 46)
}
.link2:hover{
    color: rgb(8, 24, 10);
    background-color: rgb(252, 76, 76);
    font-weight: bolder
}
.x{
    margin-left: 10px;
}

.update{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
  
    justify-items: center;
}
.noVid{
    background-image: url('https://i.pinimg.com/originals/d2/2f/fa/d22ffa1239810e27c7c2d2fe8c52a378.gif');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    text-align: center;
   
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-shadow: 2px 2px black;



}