body {
  /* background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(77, 137, 163) 32%, rgba(89, 246, 246, 0.721) 78%); */
  background-image: url('https://64.media.tumblr.com/d869a88f8be0c2b1b131495927474137/tumblr_pev1h40D0i1sg6ldbo1_1280.gifv');
  background-repeat: no-repeat;
  background-size: cover ;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
